.carousel-item img {
  height: 60vh; /* Adjust the height as needed */
  
}
.uni-carousel-container .carousel-caption {
  
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fffefe;
  background-color: rgba(0, 0, 0, 0.5);
  width:250%;
  height: 100%;

}



.carousel-caption h3 {
  margin-top: 100px;
  font-size: 2rem;
  font-weight: bold;
 
}

.uni-carousel-container .carousel-caption p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.uni-carousel-container .carousel-caption .btn {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
}
